<a href="https://colab.research.google.com/github/m-hironori/learing-keras/blob/master/2_2%E5%80%A4%E5%88%86%E9%A1%9E(IMDb%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keras
keras.__version__

Using TensorFlow backend.

'2.2.5'

# 2値分類(IMDbレビュー)

kerasによるモデル作成の基本として、2値分類の例をやってみましょう。
今回は、[IMDb](https://www.imdb.com/)という映画レビューサイトのポジネガ分類をやってみましょう。

## 問題設定

まずは、問題設定を確認してみましょう。

### 問題設定の確認


問題属性 | 問題内容
--- | ---
入力データ形式 | レビューテキスト（英語）
予測すること | レビュー内容が、ポジティブ or ネガティブ
評価指標 | accuracy
評価方法 | ホールドアウト

レビューテキストを入力に、ポジティブかネガティブかを当てることが問題設定です。

keras には、あらかじめこのデータセットが用意されていて、扱いやすいため、
keras のテキストを使った例としてはよく使われます。

## データ準備

データを準備してみましょう

### データ取得する

In [2]:
from keras.datasets import imdb

(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

Downloading data from https://s3.amazonaws.com/text-datasets/imdb.npz
17465344/17464789 [==============================] - 0s 0us/step

データロードの関数が用意されているので、これを呼ぶだけで、データ取得が終わります。

ダウンロード後、num_words=10000で、出現頻度順上位10,000の単語のみをロードしています。

### 内容を確認する

* テンソルで準備：データはテンソル ( Numpy でーたが扱いやすい ) として準備
* 値を正規化：値は [ -1 , -1 ] や [ 0 , 1 ] ぐらいの値にスケーリングしておく
* スケール合わせ：特徴量の値の範囲がことなったり、異なる種類のデータを使う場合は、スケールを合わせるためにデータを正規化する

基本的に、上記3点がデータ準備で必要なことです。テンソル準備、値を正規化、そしてスケールを合わせる。

今回はテキストデータのみなので、スケール合わせは必要なさそうです。

### データ型を確認する

In [4]:
print("\tデータ型")
print(f"訓練データ\t{type(train_data)}")
print(f"訓練ラベル\t{type(train_labels)}")
print(f"テストデータ\t{type(test_data)}")
print(f"テストラベル\t{type(test_labels)}")

	データ型
訓練データ	<class 'numpy.ndarray'>
訓練ラベル	<class 'numpy.ndarray'>
テストデータ	<class 'numpy.ndarray'>
テストラベル	<class 'numpy.ndarray'>

Numpy形式で用意されているので、今回もデータ型はこのままでよさそうです。

In [5]:
import numpy as np

print("\tデータサイズ\t型\t最大値\t最小値")
print(f"訓練データ\t{train_data.shape}\t{train_data.dtype}\t{train_data.max()}\t{train_data.min()}")
print(f"訓練ラベル\t{train_labels.shape}\t{train_labels.dtype}\t{train_labels.max()}\t{train_labels.min()}")
print(f"テストデータ\t{test_data.shape}\t{test_data.dtype}\t{test_data.max()}\t{test_data.min()}")
print(f"テストラベル\t{test_labels.shape}\t{test_labels.dtype}\t{test_labels.max()}\t{test_labels.min()}")

	データサイズ	型	最大値	最小値
訓練データ	(25000,)	object	[1, 9995, 2, 7, 2208, 7335, 3135, 4173, 3783, 509, 1683, 4702, 2, 2, 6, 201, 7, 6415, 687, 2, 2, 7, 6387, 548, 139, 7583, 295, 34, 4485, 5302, 2, 2, 2, 7, 2, 2, 146, 24, 1017, 2282, 133, 21, 4, 1591, 3113, 786, 2, 16, 125, 4, 2, 9790, 2039, 137, 267, 2, 5, 2, 120, 2024, 980, 2, 1248, 5666, 727, 1405, 6879, 1060, 6442, 18, 2, 1461, 2, 1883, 445, 109, 5369, 3696, 33, 236, 786, 5580, 7994, 8, 2, 2, 103, 2, 98, 11, 2, 1461, 24, 66, 351, 1461, 165, 116, 17, 2545, 18, 6717, 8694, 5514, 980, 2545, 165, 734, 18, 2311, 52, 84, 157, 18, 7232, 11, 661, 8, 607, 3531, 223, 1066, 445, 9236, 996, 8, 2898, 4931, 8, 5526, 8316, 7880, 154, 378, 459, 18, 6942, 632, 5, 79, 2024, 18, 68, 4918, 813, 2456, 2, 17, 840, 4807, 3854, 23, 136, 159, 5770, 852, 1698, 632, 7708, 7993, 1003, 1372, 5747, 2, 7, 5840, 5408, 11, 7200, 120, 4682, 7, 2, 3368, 2103, 8, 1140, 2, 880, 1692, 7, 68, 205, 3565, 5903, 21, 3204, 1372, 2, 2, 1098, 125, 128, 2429, 21, 9000, 2, 632, 2, 245, 39, 3526, 5, 9386, 2690, 6, 4951, 7, 2, 496, 90, 103, 316, 47, 348, 56, 2, 483, 2, 2865, 56, 6, 9739, 445, 9236, 2568, 2464, 8, 632, 29, 57, 1207, 1085, 17, 6, 3842, 632, 3055, 8, 516, 5765, 2, 88, 240, 128, 74, 15, 7906, 700, 2143, 109, 166, 642, 2, 5, 6358, 795, 7771, 6474, 2, 11, 1526, 4041, 2, 2, 2, 2, 2, 31, 160, 143, 6, 201, 7, 3404, 5, 85, 1748, 2, 15, 62, 516, 6, 2691, 6945, 132, 2, 4193, 7, 1056, 6756, 4262, 19, 164, 21, 2, 2, 1141, 281, 5, 4, 4461, 7, 5681, 2, 5, 1175, 2, 2628, 7232, 772, 447, 2066, 588, 17, 8508, 18, 5580, 2, 10, 10, 13, 100, 140, 23, 21, 14, 9, 43, 2, 48, 335, 120, 4, 559, 7, 3917, 5, 24, 581, 11, 9484, 3231, 225, 242, 164, 133, 18, 25, 2, 195, 45, 24, 99, 230, 125, 7, 2291, 18, 3783, 102, 38, 2, 32, 207, 398, 48, 25, 191, 79, 195, 7, 4, 512]	[1, 2, 2, 2, 2, 9, 4, 86, 6594, 20, 7, 1300, 2, 6457, 5, 1238, 9, 24, 44, 2, 2, 2, 42, 2, 12, 9, 1004, 6, 55, 338, 1830, 11, 6, 2, 11, 6327, 121, 4, 2, 26, 3276, 2, 2, 2, 5233, 372, 4780, 13, 81, 24, 124, 4, 282, 138, 6457, 6546, 14, 1579, 756, 5, 2776, 8, 276, 2511, 21, 849, 36, 26, 55, 619, 537, 49, 7, 98, 483, 2244, 13, 1276, 40, 4, 1301, 65, 7, 4, 430, 5, 27, 336, 15, 925, 19, 6, 313, 7, 68, 205, 5, 2171, 34, 98, 4, 65, 7, 4, 3000, 430, 15, 2251, 29, 7446, 6, 1374, 4, 65, 7, 4, 132, 15, 5245, 677, 476, 17, 48, 36, 71, 68, 205, 3197, 5, 2847, 5, 4, 65, 7, 4, 185, 255, 5233, 34, 41, 2, 61, 2302, 9, 3020, 10, 10, 425, 3829, 2, 475, 1604, 2, 5438, 2, 2, 475, 4, 96, 7, 4, 113]
訓練ラベル	(25000,)	int64	1	0
テストデータ	(25000,)	object	[1, 9927, 2, 9, 6, 686, 19, 6, 117, 1056, 37, 1388, 4007, 5, 27, 1410, 33, 4, 1450, 568, 2550, 9, 6, 2, 37, 694, 15, 60, 4, 568, 461, 5525, 42, 303, 2523, 15, 9, 51, 4, 22, 9, 32, 44, 5, 6, 6823, 4565, 33, 4, 273, 10, 10, 7184, 2, 961, 4, 1347, 39, 1172, 2, 5274, 90, 5, 1525, 90, 429, 107, 1211, 493, 37, 26, 103, 90, 88, 29, 562, 2, 5311, 278, 137, 9365, 460, 562, 2, 250, 464, 5, 317, 90, 55, 76, 584, 18, 677, 153, 11, 2829, 7184, 5, 2, 169, 6, 840, 132, 2, 2, 6, 1138, 568, 1909, 5, 6437, 37, 2013, 6, 2513, 5379, 34, 1205, 318, 508, 93, 2, 83, 6, 2944, 6, 404, 1347, 5, 2, 21, 36, 28, 8, 2225, 4, 2, 5, 50, 9, 9927, 11, 4, 217, 7, 6, 2, 11, 5659, 4, 4246, 2, 620, 8, 339, 257, 85, 36, 26, 324, 34, 4, 1132, 1715, 9927, 5, 27, 117, 8960, 10, 10, 12, 562, 2, 891, 153, 29, 560, 8, 97, 6, 4565, 22, 103, 29, 1196, 8, 79, 6, 3484, 18, 2, 1040, 4, 881, 5, 814, 11, 4, 1226, 7, 2323, 5, 11, 1450, 7, 2, 4, 87, 2, 9, 17, 644, 4, 1524, 7777, 12, 9, 4, 31, 159, 236, 431, 7, 37, 1131, 103, 160, 22, 19, 2, 11, 4506, 10, 10, 2, 165, 473, 2, 305, 7, 29, 161, 40, 15, 1122, 33, 32, 21, 2, 9, 35, 321, 9489, 5, 408, 375, 8, 4, 91, 1078, 239, 21, 330, 25, 2, 3628, 15, 9, 35, 2, 284, 6, 680, 109, 55, 2, 5, 427, 1167, 23, 6, 785, 270, 2, 161, 40, 90, 33, 32, 5, 161, 181, 8, 157, 19, 90, 126, 174, 10, 10, 2, 9, 355, 202, 4, 91, 4764, 109, 11, 4, 1282, 7, 24, 38, 111, 221, 105, 25, 70, 67, 51, 29, 9, 547, 112, 4382, 34, 9927, 5, 27, 117, 1824, 1056, 5, 32, 4, 2515, 7, 2323, 11, 3441, 4609, 6, 1358, 284, 10, 10, 82, 2, 37, 2116, 245, 491, 8, 4, 58, 7, 4, 1423, 29, 82, 16, 24, 86, 1099, 21, 407, 6, 87, 7596, 29, 2938, 4, 4988, 7, 6, 2610, 2243, 143, 4, 226, 22, 5, 214, 11, 4, 130, 27, 580, 8, 413, 2523, 280, 53, 10, 10, 2, 47, 5978, 33, 314, 4, 8572, 2022, 19, 6, 5317, 5, 6, 2, 21, 9692, 853, 6, 1112, 324, 54, 29, 892, 2, 4, 86, 58, 75, 460, 124, 15, 4, 4537, 2, 47, 6, 4376, 2779, 439, 103, 4, 4565, 2, 2, 8, 193, 27, 173, 7, 4, 2, 5, 4899, 8, 2, 37, 272, 56, 8, 90, 15, 29, 64, 188, 83, 4, 767, 4246, 88, 29, 473, 8, 193, 1060, 23, 4, 5818, 7, 27, 6139, 2, 152, 1277, 51, 29, 817, 4, 311, 9706, 260, 110, 2, 11, 6, 87, 136, 11, 27, 2368, 313, 997, 2, 1726, 2373, 15, 216, 46, 7, 4, 6139, 5, 1274, 90, 33, 15, 58, 6, 55, 1281, 136, 31, 9706, 6, 196, 58, 103, 13, 2134, 12, 16, 126, 38, 878, 8, 2, 5, 1504, 15, 538, 33, 6, 58, 57, 31, 3792, 4, 582, 504, 7, 3536, 20, 231, 87, 6106, 54, 498, 16, 93, 34, 508, 10, 10, 75, 252, 80, 377, 6, 1051, 40, 4, 156, 131, 12, 186, 60, 103, 9633, 153, 14, 31, 2677, 4, 329, 1063, 7, 4, 1446, 3106, 7, 2, 51, 9, 355, 19, 12, 13, 244, 1595, 31, 152, 193, 76, 602, 11, 148, 289, 156, 800, 289, 2819, 5, 68, 568, 2243, 75, 850, 99, 117, 44, 7184, 5, 27, 3610, 457, 153, 245, 39, 27, 307, 250, 2247, 2, 9, 131, 6, 87, 6437, 21, 51, 93, 90, 413, 6, 2779, 132, 19, 163, 2373, 11, 27, 6139, 2, 1421, 17, 48, 29, 9, 11, 35, 908, 1154, 7, 4, 2, 9, 4, 132, 11, 4, 2, 7, 298, 519, 5, 3559, 728, 5, 9927, 9, 2, 8, 168, 33, 6, 87, 284, 33, 4, 1289, 7, 27, 113, 21, 89, 100, 29, 126, 869, 824, 15, 32, 26, 2523, 10, 10, 11, 35, 2704, 2, 1630, 15, 50, 9, 57, 255, 11, 4, 22, 24, 11, 4, 55, 767, 4246, 21, 13, 377, 73, 15, 9104, 52, 267, 668, 2247, 19, 57, 705, 611, 75, 26, 11, 4, 2226, 50, 11, 192, 5160, 6, 255, 39, 4, 1445, 7, 35, 154, 2, 1658, 164, 5, 2371, 1364, 8, 4, 1312, 8, 1632, 8, 4, 544, 7, 41, 154, 1461, 2, 2, 122, 142, 40, 15, 158, 153, 908, 14, 58, 2, 16, 940, 73, 224, 10, 10, 4, 767, 47, 434, 1283, 6, 171, 21, 24, 111, 2, 5786, 8, 22, 479, 4, 4565, 33, 273, 5, 594, 3985, 4, 5818, 7, 4, 6139, 5, 6518, 11, 428, 6207, 5, 2918, 27, 2, 3398, 638, 6, 6850, 15, 9, 99, 117, 18, 6, 87, 2112, 5, 4565, 20, 21, 4, 2, 234, 115, 2696, 25, 5, 12, 9, 6, 500, 23, 6, 312, 651, 5, 50, 26, 242, 49, 3908, 25, 850, 54, 25, 67, 4, 22, 120, 5, 120, 174, 600, 7, 4, 3908, 9, 15, 75, 26, 32, 2523, 5, 4, 522, 2, 2, 9, 82, 2561, 10, 10, 488]	[1, 2, 2, 2, 2, 4, 2, 393, 7, 6, 2, 1830, 39, 998, 2445, 1364, 656, 94, 58, 143, 4, 454, 17, 12, 144, 366, 75, 6050, 39, 2, 21, 5610, 1915, 5, 1398, 83, 2, 7, 1306, 5, 6, 483, 5564, 3411, 44, 4, 394, 2, 7, 2, 10, 10, 2, 7279, 5, 2, 638, 4, 8921, 2, 5096, 4, 330, 5, 2, 4, 529, 14, 9521, 370, 157, 9, 2, 11, 6, 2, 109, 37, 9, 1305, 4, 9824, 2, 27, 292, 33, 4, 8465, 1923, 5, 1200, 27, 223, 8, 605, 2, 95, 2, 174, 5, 3582, 8, 4, 5315, 1946, 7, 27, 430, 351, 10, 10, 6, 2, 154, 255, 2, 23, 41, 658, 5, 6, 185, 430, 1442, 154, 183, 413, 162, 5, 162, 183, 783, 469, 9, 4, 8921, 2, 17, 594, 8559, 17, 4, 479, 7, 438]
テストラベル	(25000,)	int64	1	0

よさそうに思いきや、データの内容が、object型でした。このままではだめそうですね。

訓練ラベルは、整数型で1と0の値しかないため、このままでよさそうです。

### データ内容を確認する

In [6]:
# 訓練データ内容を表示する
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 2,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 2,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 2,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 2,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 2,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 2,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

入力はテキストデータのはずなのに、数字の列になっています。

### テキストデータの前処理



No | 処理     | 内容 | 例(This movie was just brilliant casting)
---|----------|------|---
1  | Tokenize | テキストを単語に区切る | `["This", "movie", "was", "just", "brilliant", "casting"]`
2  | Normarize| 大文字を小文字に変換、活用形を原型に変えるなど | `["this", "movie", "was", "just", "brilliant", "casting"]`
3  | Indexing | 単語の辞書を作成しながらインデックスに変換 | `[14, 22, 16, 43, 530, 13, 19]`

テキストデータを扱うときは、各単語を単語のインデックスデータに変換して扱います。

まず、テキストを、単語に区切ります。これが、データの最小単位になります。
次に、正規化を行います。大文字を小文字に変換したり、活用形を原型に戻したり(played -> play)します。この処理は、実施するデータによって何を行うかまちまちです。
次に、単語の辞書を作成しながらインデックスに変換していきます。"this"はインデックス14に変換するといった辞書を作成していき、同じ単語は同じインデックス番号となるようにします。

このような処理によって単語インデックスのシーケンスができます。

この imdb データセットでは、あらかじめ、テキストデータをインデックスデータに変換してくれています。

### 単語インデックスデータをテキストに戻してみる

In [8]:
# 単語インデックス(単語->インデックス))を　逆転させる(インデックス -> 単語 )
reverse_word_index = dict([(value, key) for (key, value) in imdb.get_word_index().items()])
# imdbデータセットではインデックスオフセットは 3
# 0: パディング用に予約, 1: シーケンス開始を示す, 2: 足きりして知らない単語用.
decoded = []
for i in train_data[0]:
    if i == 0:
        decoded.add("[PAD]")
    if i == 1:
        decoded.add("[START]")
    if i == 2:
        decoded.add("[UNK]")
    if i
decoded_review = ' '.join([reverse_word_index.get(i - 3, '?') for i in train_data[0]])
decoded_review

"? this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert ? is an amazing actor and now the same being director ? father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for ? and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also ? to the two little boy's that played the ? of norman and paul they were just brilliant children are often left out of the ? list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"